---
title: FAQs - Federal STEM Initiatives Practical Guides and FAQs
---
{% include header.html %}

<main class="faqs">
    <div class="page__header">
        <div class="container position-relative">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 page__text">
                    <h1 class="page-title text-center">STEM Initiatives Guide & FAQ</h1>
                    <p class="mt-4 faqs__text"><strong>Program Sponsors</strong> include institutions like
                        colleges,
                        universities,
                        and other schools
                        and non-profit
                        organizations designated as sponsors by the federal government</p>
                    <p class="faqs__text"><strong>Program Hosts</strong> include employers like private companies,
                        hospitals, research
                        institutions, and
                        othe
                        organizations hiring SiEM workers.</p>
                    <p class="faqs__text"><strong>Program Participants</strong> include nonimmigrants and other foreign
                        nationals
                        Interested in STEM
                        protessions,
                        Including researchers, proressionals, and students</p>
                    <p class="faqs__text"><strong>Not sure?</strong> Select All</p>
                    </p>
                </div>
                <div class=" col-1">
                </div>
            </div>

            <div class="row mt-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0" data-aos-once="true">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <p class="fw-bold filter__title text-center">Which of the following best describes you?</p>
                        <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                            <a href="#" class="btn btn--white d-block w-100" data-filter-type="filter"
                                data-filter-target="data-filter-tag-program-sponsors"
                                data-filter-selected="false">Program Sponsor</a>
                        </div>
                        <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                            <a href="#" class="btn btn--white d-block w-100"
                                data-filter-target="data-filter-tag-program-hosts" data-filter-type="filter"
                                data-filter-selected="false">Program
                                Host</a>
                        </div>
                        <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                            <a href="#" class="btn btn--white d-block w-100"
                                data-filter-target="data-filter-tag-program-participants" data-filter-type="filter"
                                data-filter-selected="false">Program Participant</a>
                        </div>
                        <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                            <a href="#" class="btn btn--white d-block w-100 selected" data-filter-target="all"
                                data-filter-type="filter" data-filter-selected="true">All</a>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row faqs__content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"
                data-aos-once="true">
                <div class="col-1"></div>
                <div class="col-3">
                    <span class="small faqs__instructions">Select Initiative to Learn More. <span
                            class="small faqs__mobileInstructions">Scroll to see all options.</span></span>
                    <div class="nav faqs__tabs flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#guide1" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">Guide One: Early Career STEM Research Initiative</button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#guide2"
                            type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Guide Two:
                            STEM OPT: New Fields of Study</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#guide3" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">Guide Three: O-1 Visa Policy Guidance</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#guide4" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">Guide Four: EB-2 National Interest Waiver</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#guide5" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">Guide Five: J-1 Extension of Academic Training</button>
                        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#additionalResources" type="button" role="tab"
                            aria-controls="v-pills-settings" aria-selected="false">Additional Resources</button>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="col-6 faqs__answerContent">
                    <div class="d-flex align-items-start">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active w-100" id="guide1" role="tabpanel"
                                aria-labelledby="guide-1-tab">
                                <div class="accordion" id="accordionExample" data-faq-content="guide1">
                                    <a data-bs-toggle="modal" data-bs-target="#modalGuide1" href="#"
                                        class="guide-overview-link">Click to see guide
                                        overview <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
                                            <path fill-rule="evenodd"
                                                d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
                                        </svg></a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="guide2" role="tabpanel" aria-labelledby="guide-2-tab">...
                            </div>
                            <div class="tab-pane fade" id="guide3" role="tabpanel" aria-labelledby="guide-3-tab">...
                            </div>
                            <div class="tab-pane fade" id="guide4" role="tabpanel" aria-labelledby="guide-4-tab">...
                            </div>
                            <div class="tab-pane fade" id="guide5" role="tabpanel" aria-labelledby="guide-5-tab">...
                            </div>
                            <div class="tab-pane fade" id="additionalResources" role="tabpanel"
                                aria-labelledby="additional-resources-tab">...</div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</main>

<div class="modal fade" id="modalGuide1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guide One: Early Career STEM Research Initiative Overview
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                The U.S. Department of State’s Bureau of Educational and Cultural Affairs announced the “Early Career
                STEM Research Initiative” on January 21, 2022. The new initiative aims to match U.S. companies
                interested in hosting J-1 exchange visitors in STEM fields with program sponsors. The initiative also
                facilitates additional academic training for undergraduate and graduate students in STEM fields on the
                J-1 visa for up to 36 months. <br><br>

                A J-1 is a temporary, nonimmigrant visa issued to exchange visitors. There are 15 categories of J-1
                exchange visitors, including intern, trainee, and research scholar, who attend programs in which they
                enjoy cultural and educational experiences that they can share when they return to their home countries.
                The State Department considers the exchange visitor program to be “public diplomacy” as the programs are
                intended to increase mutual understanding between U.S. citizens and those of other countries. <br><br>

                The new initiative utilizes 7 of the 15 existing J-1 categories with an aim to bringing exchange
                visitors in STEM fields: college and university students, professors, research scholars, short-term
                research scholars, interns, trainees, and specialists. A U.S.-based company or organization that wants
                to host an exchange visitor in those categories may submit a statement of interest to the State
                Department’s BridgeUSA that it has the means to offer “quality STEM training and or research
                opportunities” in the noncitizens’ “respective fields of study and expertise.” Similarly, an exchange
                visitor sponsor may submit a statement of interest affirming an intent to sponsor exchange visitors for
                “quality STEM training and/or research opportunities with U.S.-based STEM businesses.” BridgeUSA will
                use the statements of interest to connect the host companies with sponsors. While submission of a
                statement of interest may streamline the process, it is not required to utilize the initiative.
                Organizations the agency has already authorized to sponsor exchange visitors in an eligible
                category(ies) do not require a separate authorization to sponsor exchange visitors in that category(ies)
                under the new initiative. Sponsors that connect with host company contacts BridgeUSA provides will
                continue to follow their internal procedures for determining if the placement meets the objectives and
                regulatory requirements of the Exchange Visitor program. <br><br>

                Companies or organizations hosting a J-1 exchange visitor are required to acknowledge the “public
                diplomacy” purpose of the program as they are prohibited from filling jobs with J-1s that otherwise
                would be open to U.S. workers. <br><br>

                The new initiative also lengthens the amount of time exchange visitors in the “college or university”
                J-1 category can stay in the United States if they are participating in academic training in STEM
                fields. To be eligible for this extension, the J-1 exchange visitor must be an undergraduate or
                pre-doctoral degree student who is pursuing or recently completed STEM-related studies. Eligible
                students can lengthen their academic training for up to 36 months, and the initiative will run for the
                next two academic years: 2021-2022 and 2022-2023.
            </div>
            <div class="modal-footer">
                <a class="btn btn--secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}