---
title: Pizza
---
{% include header.html %}

<div class="hero d-flex justify-content-center flex-column">
    <div class="container position-relative">
        <div class="row">
            <div class="col" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">
                <h1 class="hero__title text-center text-white fw-bold">Attracting Talent and Strengthening <br>Global
                    Competitiveness:</h1>
                <span class="hero__subtitle">Practical Guides and FAOs for the Federal STEM Initiatives</span>
                <p class="text-center text-white hero__text mx-auto">Lorem ipsum dolor sit amet, consectetur
                    adipiscing
                    elit,
                    sed do eiusmod
                    tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a href="{{site.baseurl}}/faqs.html"
                    class="btn btn--secondary hero__btn text-center d-block mx-auto">Get
                    Started</a>
            </div>
        </div>
    </div>
</div>
<div class="container related-content">
    <div class="row" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">
        <h2 class="text-center related-content__title h2">Learn More</h2>
        <div class="col-12 col-sm-4 mb-5">
            <img class="img-fluid" src="https://picsum.photos/500/350" alt="">
            <p class="fw-bold text-center mt-4">Lorem ipsum dolor sit amet.</p>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
                optio.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn--black text-center mx-auto">Learn More</a>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-5"> <img class="img-fluid" src="https://picsum.photos/500/350" alt="">
            <p class="fw-bold text-center mt-4">Lorem ipsum dolor sit amet.</p>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
                optio.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn--black text-center mx-auto">Learn More</a>
            </div>
        </div>
        <div class="col-12 col-sm-4 mb-5"> <img class="img-fluid" src="https://picsum.photos/500/350" alt="">
            <p class="fw-bold text-center mt-4">Lorem ipsum dolor sit amet.</p>
            <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam,
                optio.</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn--black text-center mx-auto">Learn More</a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}