<footer class="footer mb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <a target="_blank" href="https://americanimmigrationcouncil.org" class="footer__link">
                    <img class="footer__logo d-block mx-auto"
                        src="https://council-images.s3.us-east-2.amazonaws.com/brand-assets/logo-council.png" alt="">
                </a>
                <p class="small text-center mt-2"> Copyright American Immigration Council. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>


<script src="{{site.baseurl}}/assets/data/questions-answers.js"></script>
<script src="{{site.baseurl}}/assets/js/scripts.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>