.hero {
  padding-top: 5rem;
  padding-bottom: 5.25rem;
  background-image: url("https://images.unsplash.com/photo-1581093577421-f561a654a353?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  position: relative;
  background-size: cover;

  &::before {
    content: "";
    top: 0;
    left: 0;
    background-color: rgba($primary, 0.75);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  &__title {
    font-size: 4rem;

    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }
  }

  &__subtitle {
    text-align: center;
    display: block;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  &__text {
    max-width: 1080px;
    position: relative;
    padding-top: 2rem;

    &::before {
      position: absolute;
      width: 100%;
      background-color: $secondary;
      height: 3px;
      top: 0;
      left: 0;
      content: "";
    }
  }

  &__btn {
    max-width: 300px;
  }
}

.related-content {
  margin: 8rem auto;

  &__title {
    position: relative;
    margin-bottom: 4rem;
    font-size: 3rem;

    &::before {
      content: "";
      width: 100%;
      max-width: 250px;
      background: $primary;
      height: 3px;
      position: absolute;
      bottom: -25px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &__content-heading {
    margin-bottom: 0.5rem;
  }

  &__content-heading,
  &__content-text {
    font-size: 1.25rem;
  }
}
