---
title: Overview Guides and FAQs - Federal STEM Initiatives
description: A series of new federal initiatives have been launched to help American businesses of all sizes connect with talented researchers and other highly-skilled individuals.Below, you will see a set of overview guides and corresponding Frequently Asked Questions that unpack these changes for different audiences.
image: https://council-images.s3.us-east-2.amazonaws.com/stem-faqs/stem-lab.jpg
---
{% include header.html %}

<main class="faqs">
    <div class="page__header">
        <div class="container position-relative">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 page__text">
                    <a href="{{site.url}}/stem-faqs/index.html" style="text-decoration:none;">Back To
                        Home</a>
                    <h1 class="page-title">Federal STEM Initiatives:
                        Overview Guides & FAQs</h1>
                    <p class="mt-4 faqs__text">A series of new federal initiatives have been launched to help American
                        businesses of all sizes
                        connect with talented researchers and other highly-skilled individuals. Below, you will see a
                        set of overview guides and corresponding Frequently Asked Questions that unpack these changes
                        for different audiences. </p>
                    <ul>
                        <li><strong>Institutions</strong> include colleges,
                            universities,
                            and other schools
                            and non-profit
                            organizations designated as sponsors by the federal government</li>
                        <li><strong>Employers</strong> include private companies,
                            hospitals, research
                            institutions, and
                            other
                            organizations hiring STEM workers.</li>
                        <li><strong>Participants</strong> include nonimmigrants and other foreign
                            nationals
                            interested in STEM
                            professions,
                            including researchers, professionals, and students</li>
                        <li><strong>Not sure?</strong> Select All</li>
                    </ul>
                    <div class=" col-1">
                    </div>
                </div>

                <div class="row mt-3" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"
                    data-aos-once="true">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row">
                            <p class="fw-bold filter__title text-center">Which of the following best describes you?</p>
                            <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                                <a href="#" class="btn btn--white d-block w-100" data-filter-type="filter"
                                    data-filter-target="data-filter-tag-institutions"
                                    data-filter-selected="false">Institution</a>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                                <a href="#" class="btn btn--white d-block w-100"
                                    data-filter-target="data-filter-tag-employers" data-filter-type="filter"
                                    data-filter-selected="false">Employer</a>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                                <a href="#" class="btn btn--white d-block w-100"
                                    data-filter-target="data-filter-tag-program-participants" data-filter-type="filter"
                                    data-filter-selected="false">Participant</a>
                            </div>
                            <div class="col-12 col-md-3 mb-4 mb-md-0 text-center">
                                <a href="#" class="btn btn--white d-block w-100 selected" data-filter-target="all"
                                    data-filter-type="filter" data-filter-selected="true">All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

                <div class="row faqs__content" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"
                    data-aos-once="true">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <span class="small faqs__instructions">Select initiative to learn more. <span
                                class="small faqs__mobileInstructions">Scroll to see all options.</span></span>
                        <div class="nav faqs__tabs flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#guide1" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">Guide 1: Early Career STEM Research Initiative</button>
                            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#guide2" type="button" role="tab" aria-controls="v-pills-profile"
                                aria-selected="false">Guide 2:
                                STEM OPT: New Fields of Study</button>
                            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                                data-bs-target="#guide3" type="button" role="tab" aria-controls="v-pills-messages"
                                aria-selected="false">Guide 3: O-1 Visa Policy Guidance</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                                data-bs-target="#guide4" type="button" role="tab" aria-controls="v-pills-settings"
                                aria-selected="false">Guide 4: EB-2 National Interest Waiver Policy Guidance</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                                data-bs-target="#guide5" type="button" role="tab" aria-controls="v-pills-settings"
                                aria-selected="false">Guide 5: J-1 Extension of Academic Training</button>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                                data-bs-target="#additionalResources" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">Additional Resources</button>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-6 faqs__answerContent">
                        <div class="d-flex align-items-start">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active w-100" id="guide1" role="tabpanel"
                                    aria-labelledby="guide-1-tab">
                                    <div class="accordion" id="accordionExample" data-faq-content="guide1">
                                        <p class="fw-bold">Guide 1: Early Career STEM Research Initiative</p>
                                        <div class="guide-overview-wrapper">
                                            <a data-bs-toggle="modal" data-bs-target="#modalGuide1" href="#"
                                                class="guide-overview-link">Click to read about this initiative <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-box-arrow-in-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
                                                    <path fill-rule="evenodd"
                                                        d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="guide2" role="tabpanel" aria-labelledby="guide-2-tab">
                                    <div class="accordion" id="accordionExample" data-faq-content="guide2">
                                        <p class="fw-bold">Guide 2:
                                            STEM OPT: New Fields of Study</p>
                                        <div class="guide-overview-wrapper">
                                            <a data-bs-toggle="modal" data-bs-target="#modalGuide2" href="#"
                                                class="guide-overview-link">Click to read about this initiative <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-box-arrow-in-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
                                                    <path fill-rule="evenodd"
                                                        d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
                                                </svg></a>

                                            <p class="mt-5" style="font-size:20px;  ">Additional information and FAQs
                                                about this initiative will be added soon.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="guide3" role="tabpanel" aria-labelledby="guide-3-tab">
                                    <div class="accordion" id="accordionExample" data-faq-content="guide3">
                                        <p class="fw-bold">Guide 3: O-1 Visa Policy Guidance</p>
                                        <div class="guide-overview-wrapper">
                                            <a data-bs-toggle="modal" data-bs-target="#modalGuide3" href="#"
                                                class="guide-overview-link">Click to read about this initiative <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-box-arrow-in-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
                                                    <path fill-rule="evenodd"
                                                        d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="guide4" role="tabpanel" aria-labelledby="guide-4-tab">
                                    <div class="accordion" id="accordionExample" data-faq-content="guide4">
                                        <p class="fw-bold">Guide 4: EB-2 National Interest Waiver Policy Guidance</p>
                                        <div class="guide-overview-wrapper">
                                            <a data-bs-toggle="modal" data-bs-target="#modalGuide4" href="#"
                                                class="guide-overview-link">Click to read about this initiative <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-box-arrow-in-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
                                                    <path fill-rule="evenodd"
                                                        d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="guide5" role="tabpanel" aria-labelledby="guide-5-tab">
                                    <div class="accordion" id="accordionExample" data-faq-content="guide5">
                                        <p class="fw-bold">Guide 5: J-1 Extension of Academic Training</p>
                                        <div class="guide-overview-wrapper">
                                            <a data-bs-toggle="modal" data-bs-target="#modalGuide5" href="#"
                                                class="guide-overview-link">Click to read about this initiative <svg
                                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-box-arrow-in-up-right"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z" />
                                                    <path fill-rule="evenodd"
                                                        d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z" />
                                                </svg></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="additionalResources" role="tabpanel"
                                    aria-labelledby="additional-resources-tab">
                                    <p class="fw-bold">From the White House</p>

                                    <ul>
                                        <li><a href="https://www.whitehouse.gov/briefing-room/statements-releases/2022/01/21/fact-sheet-biden-harris-administration-actions-to-attract-stem-talent-and-strengthen-our-economy-and-competitiveness/"
                                                target="_blank">Fact
                                                Sheet on White House-driven policy announcements on international STEM
                                                talent</a>
                                        </li>
                                    </ul>

                                    <p class="fw-bold">From the Department of Homeland Security </p>

                                    <ul>
                                        <li><a href="https://www.dhs.gov/news/2022/01/21/dhs-expands-opportunities-us-stem-professionals"
                                                target="_blank">DHS
                                                Announcement of Three Agency Policies</a></li>
                                        <li>DHS Expansion of STEM OPT: <a
                                                href="https://www.govinfo.gov/content/pkg/FR-2022-01-21/pdf/2022-01188.pdf"
                                                target="_blank">https://www.govinfo.gov/content/pkg/FR-2022-01-21/pdf/2022-01188.pdf</a>.
                                            In addition to the Federal Register Notice,
                                            the updated STEM List and information about the CIP nomination process for
                                            future consideration of possible expansion to the STEM OPT fields list is at
                                            ICE.gov/SEVIS/Schools, under the new DHS STEM Designated Degree Program List
                                            and CIP Code Nomination Process header.</li>
                                        <li>DHS Policy Guidance on O-1. U.S. Citizenship and Immigration Services
                                            (USCIS) is issuing policy guidance in the USCIS Policy Manual to clarify
                                            how USCIS evaluates evidence to determine eligibility for O-1A
                                            nonimmigrants of extraordinary ability, with a focus on persons in
                                            science, technology, engineering, or mathematics (STEM) fields, as well
                                            as how USCIS determines whether an O-1 beneficiary’s prospective work is
                                            within the beneficiary’s area of extraordinary ability or achievement.
                                            <a href="https://www.uscis.gov/policy-manual/volume-2-part-m-chapter-4"
                                                target="_blank">
                                                https://www.uscis.gov/policy-manual/volume-2-part-m-chapter-4</a>
                                        </li>
                                        <li>DHS Policy Guidance on National Interest Waivers. U.S. Citizenship and
                                            Immigration Services (USCIS) is updating policy guidance in the USCIS Policy
                                            Manual to address requests for national interest waivers for advanced degree
                                            professionals or persons of exceptional ability. <a
                                                href="https://www.uscis.gov/policy-manual/volume-6-part-f-chapter-5"
                                                target="_blank">https://www.uscis.gov/policy-manual/volume-6-part-f-chapter-5</a>
                                        </li>
                                    </ul>

                                    <p class="fw-bold">From the State Department</p>

                                    <ul>
                                        <li><a href="https://j1visa.state.gov/ " target="_blank">BridgeUSA</a></li>
                                        <li><a href="https://www.state.gov/new-initiatives-further-opportunity-for-international-stem-students-scholars-and-researchers-u-s-entities/"
                                                target="_blank">State Department Announcement on Two Agency Policies</a>
                                        </li>
                                        <li><a href="https://j1visa.state.gov/programs/early-career-stem-research-initiative/"
                                                target="_blank">State Department Early Career STEM Research
                                                Initiative</a></li>
                                        <li><a href="https://j1visa.state.gov/opportunity-for-academic-training-extensions-for-j-1-college-and-university-students-in-stem-fields/"
                                                target="_blank">State Department Expansion of Academic Training for J-1
                                                STEM grads</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
</main>

<!-- Modals -->
<div class="modal fade" id="modalGuide1" tabindex="-1" aria-labelledby="modalGuide1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guide 1: Early Career STEM Research Initiative Overview
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                The U.S. Department of State’s Bureau of Educational and Cultural Affairs announced the “Early Career
                STEM Research Initiative” on January 21, 2022.<sup>i</sup> This new initiative aims to match U.S.
                companies
                interested in hosting J-1 exchange visitors in STEM fields with program sponsors. The initiative also
                facilitates additional academic training for undergraduate and graduate students in STEM fields on the
                J-1 visa for up to 36 months.
                <br>
                <br>
                A J-1 is a temporary, nonimmigrant visa issued to exchange visitors. There are 15 categories of J-1
                exchange visitors—including intern, trainee, and research scholar—who attend programs in which they
                enjoy cultural and educational experiences that they can share when they return to their home
                countries.<sup>ii</sup> The State Department considers the exchange visitor program to be “public
                diplomacy”
                because the programs are intended to increase mutual understanding between U.S. citizens and citizens of
                other countries.
                <br>
                <br>
                The new initiative utilizes 7 of the 15 existing J-1 categories with the aim of attracting exchange
                visitors in STEM fields: college and university students, professors, research scholars, short-term
                research scholars, interns, trainees, and specialists. A U.S.-based company or organization that wants
                to host an exchange visitor in those categories may submit a statement of interest to the State
                Department’s BridgeUSA.<sup>iii</sup> The statement should specify that the company has the means to
                offer “quality
                STEM training and or research opportunities” in the noncitizens’ “respective fields of study and
                expertise.” Similarly, an exchange visitor sponsor may submit a statement of interest affirming an
                intent to sponsor exchange visitors for “quality STEM training and/or research opportunities with
                U.S.-based STEM businesses.”<sup>iv</sup> BridgeUSA will use the statements of interest to connect the
                host
                companies with sponsors. While submission of a statement of interest may streamline the process, it is
                not required to utilize the initiative. Organizations the agency has already authorized to sponsor
                exchange visitors in an eligible category(ies) do not require a separate authorization to sponsor
                exchange visitors in that category(ies) under the new initiative. Sponsors who connect with host company
                contacts that BridgeUSA provides will continue to follow their internal procedures for determining if
                the placement meets the objectives and regulatory requirements of the Exchange Visitor program.
                <br>
                <br>
                Companies or organizations hosting a J-1 exchange visitor are required to acknowledge the “public
                diplomacy” purpose of the program because they are prohibited from filling jobs with J-1s that otherwise
                would be open to U.S. workers.
                <br>
                <br>
                The new initiative also lengthens the amount of time exchange visitors in the “college or university”
                J-1 category can stay in the United States if they are participating in academic training in STEM
                fields. To be eligible for this extension, the J-1 exchange visitor must be an undergraduate or
                pre-doctoral degree student who is pursuing or recently completed STEM-related studies. Eligible
                students can lengthen their academic training for up to 36 months, and the initiative will run for the
                next two academic years: 2021-2022 and 2022-2023.

                <div class="modal-endnotes">
                    <h6 class="fw-bold">Endnotes</h6>
                    <sup>i</sup>
                    U.S. Department of State, Bureau of Educational and Cultural Affairs, BridgeUSA, “Early Career STEM
                    Research Initiative,” January 2022,
                    https://j1visa.state.gov/wp-content/uploads/2022/01/Early-Career-STEM-Research-Initiative-1.pdf.
                    <br>
                    <sup>ii</sup>American Immigration Council, “The Exchange Visitor Program and J-1 Visas,” June 18,
                    2020, https://www.americanimmigrationcouncil.org/research/exchange-visitor-program-and-j-1-visas.
                    <br>
                    <sup>iii</sup> U.S. Department of State, Bureau of Educational and Cultural Affairs, BridgeUSA,
                    “STEM Business Statement of Interest: Early Career STEM Research Initiative,” January 2022,
                    https://j1visa.state.gov/wp-content/uploads/2022/01/STEM-Letters-of-Intent_Business.pdf.
                    <br>
                    <sup>iv</sup> U.S. Department of State, Bureau of Educational and Cultural Affairs, BridgeUSA,
                    “BridgeUSA Sponsor Statement of Interest: Early Career STEM Research Initiative,” January 2022,
                    https://j1visa.state.gov/wp-content/uploads/2022/01/STEM-Letters-of-Intent_Sponsor.pdf.
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn--secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalGuide2" tabindex="-1" aria-labelledby="modalGuide2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guide 2: New Fields of Study Added to STEM OPT - Overview
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                On January 21, 2022, the Biden-Harris administration announced a series of policy changes intended to
                bolster the U.S. economy by attracting scholars, students, researchers, and workers from around the
                world who specialize in the fields of science, technology, engineering, and mathematics
                (STEM).<sup>i</sup> These
                policy changes include an expansion of the Optional Practical Training (OPT) program for international
                students who have come to the United States on F-1 visas to earn Bachelors, Masters, or Doctoral degrees
                in certain STEM fields from U.S. universities. Under the new policy, these students may remain in the
                United States for up to 36 months after earning their degrees in order to complete training in their
                fields of study.<sup>ii</sup>
                <br>
                <br>
                <h5>Overview</h5>
                Every year, approximately 800,000 international students pursue higher education at colleges and
                universities throughout the United States.<sup>iii</sup> Under current regulationsiv and policy,
                qualifying
                international students in the U.S. are eligible for OPT, either while they are still in school
                (“pre-completion” OPT) or immediately after they graduate (“post-completion” OPT).<sup>v</sup> This
                allows them to
                apply for temporary authorization to seek on-the-job learning related to their fields of
                study.<sup>vi</sup> OPT
                has the dual benefit of providing international students with valuable practical experience in their
                field of study, while also allowing U.S. employers—and the U.S. economy more broadly—to benefit from the
                skills and talent these students possess. Without OPT, many international students would be forced to
                leave the United States and possibly work for U.S. competitors abroad.

                International students on F-1 visas who are studying non-STEM fields can seek "post-completion" OPT for
                up to 12 months.<sup>vii</sup> International students in designated STEM fields<sup>viii</sup> are
                eligible for the same
                initial 12-month OPT designation, in addition to a two-year "STEM extension" which allows them to
                continue living and working in the U.S. for a total of 36 months.<sup>ix</sup> In Fiscal Year 2021, U.S.
                Citizenship and Immigration Services approved just under 180,000 OPT-related applications for employment
                authorization.<sup>x</sup>

                The U.S. Department of Homeland Security maintains a complete list of qualifying STEM degrees in its
                "DHS STEM Designated Degree Program List."<sup>xi</sup> On January 21, DHS published a notice in the
                Federal
                Register updating this list to include the following 22 additional fields of study:<sup>xii</sup>
                A J-1 is a temporary, nonimmigrant visa issued to exchange visitors. There are 15 categories of J-1
                exchange visitors—including intern, trainee, and research scholar—who attend programs in which they
                enjoy cultural and educational experiences that they can share when they return to their home
                countries.ii The State Department considers the exchange visitor program to be “public diplomacy”
                because the programs are intended to increase mutual understanding between U.S. citizens and citizens of
                other countries.
                <br>
                <br>
                The new initiative utilizes 7 of the 15 existing J-1 categories with the aim of attracting exchange
                visitors in STEM fields: college and university students, professors, research scholars, short-term
                research scholars, interns, trainees, and specialists. A U.S.-based company or organization that wants
                to host an exchange visitor in those categories may submit a statement of interest to the State
                Department’s BridgeUSA.iii The statement should specify that the company has the means to offer “quality
                STEM training and or research opportunities” in the noncitizens’ “respective fields of study and
                expertise.” Similarly, an exchange visitor sponsor may submit a statement of interest affirming an
                intent to sponsor exchange visitors for “quality STEM training and/or research opportunities with
                U.S.-based STEM businesses.”iv BridgeUSA will use the statements of interest to connect the host
                companies with sponsors. While submission of a statement of interest may streamline the process, it is
                not required to utilize the initiative. Organizations the agency has already authorized to sponsor
                exchange visitors in an eligible category(ies) do not require a separate authorization to sponsor
                exchange visitors in that category(ies) under the new initiative. Sponsors who connect with host company
                contacts that BridgeUSA provides will continue to follow their internal procedures for determining if
                the placement meets the objectives and regulatory requirements of the Exchange Visitor program.
                <br>
                <br>
                Companies or organizations hosting a J-1 exchange visitor are required to acknowledge the “public
                diplomacy” purpose of the program because they are prohibited from filling jobs with J-1s that otherwise
                would be open to U.S. workers.
                <br>
                <br>
                The new initiative also lengthens the amount of time exchange visitors in the “college or university”
                J-1 category can stay in the United States if they are participating in academic training in STEM
                fields. To be eligible for this extension, the J-1 exchange visitor must be an undergraduate or
                pre-doctoral degree student who is pursuing or recently completed STEM-related studies. Eligible
                students can lengthen their academic training for up to 36 months, and the initiative will run for the
                next two academic years: 2021-2022 and 2022-2023.
                <div class="modal-endnotes">
                    <h6 class="fw-bold">Endnotes</h6>
                    <sup>i</sup> The White House, “Biden-⁠Harris Administration Actions to Attract STEM Talent and
                    Strengthen our Economy and Competitiveness,” January 21, 2022,
                    https://www.whitehouse.gov/briefing-room/statements-releases/2022/01/21/fact-sheet-biden-harris-administration-actions-to-attract-stem-talent-and-strengthen-our-economy-and-competitiveness/.
                    <br>
                    <sup>ii</sup> Ibid.
                    <br>
                    <sup>iii</sup> Institute of International Education, “International Student Enrollment Trends,
                    1948/49-2020/21,” 2021, https://opendoorsdata.org/data/international-students/enrollment-trends/.
                    <br>
                    <sup>iv</sup> 8 C.F.R. § 214.2(f)(10)(ii).
                    <br>
                    <sup>v</sup> U.S. Department of Homeland Security, “Training Opportunities in the United States,”
                    last accessed May 2022,
                    https://studyinthestates.dhs.gov/students/training-opportunities-in-the-united-states. While current
                    regulations allow for the exercise of “pre-completion” OPT in certain circumstances, this fact sheet
                    is intended to focus on “post-completion” OPT and the impact of the Biden-Harris administration’s
                    recent expansion of the qualifying fields of study.
                    <br>
                    <sup>vi</sup> Ibid.
                    <br>
                    <sup>vii</sup> Ibid. “Post-completion” OPT can include individuals pursuing a bachelors, masters, or
                    doctoral degree who have completed all course requirements excluding a thesis or its equivalent.
                    <br>
                    <sup>viii</sup> 8 C.F.R. § 214.2(f)(10)(ii)(C)(2)(i). The term “science, technology, engineering or
                    mathematics field” means a field included in the Department of Education's Classification of
                    Instructional Programs taxonomy within the two-digit series or successor series containing
                    engineering, biological sciences, mathematics, and physical sciences, or a related field. In
                    general, related fields will include fields involving research, innovation, or development of new
                    technologies using engineering, mathematics, computer science, or natural sciences (including
                    physical, biological, and agricultural sciences).
                    <br>
                    <sup>ix</sup> U.S. Department of Homeland Security, “Training Opportunities in the United States,”
                    last accessed May 2022,
                    https://studyinthestates.dhs.gov/students/training-opportunities-in-the-united-states. Also see 8
                    C.F.R. § 214.2(f)(10)(ii)(C).
                    <br>
                    <sup>x</sup> U.S. Citizenship and Immigration Services, “Form I-765, Application for Employment
                    Authorization, Eligibility Category and Filing Type, Fiscal Year 2021,”
                    https://www.uscis.gov/sites/default/files/document/reports/I-765_Application_for_Employment_FY21.csv.
                    <br>
                    <sup>xi</sup> U.S. Department of Homeland Security, “DHS STEM Designated Degree Program List,” last
                    accessed May 2022, https://www.ice.gov/sites/default/files/documents/stem-list.pdf.
                    <br>
                    <sup>xii</sup> Update to the Department of Homeland Security STEM Designated Degree Program List, 87
                    Fed. Reg. 3317 (January 21, 2022),
                    https://www.govinfo.gov/content/pkg/FR-2022-01-21/pdf/2022-01188.pdf. The descriptions of these 22
                    additional fields of study are derived from the definitions provided in this Federal Register
                    notice.
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn--secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalGuide3" tabindex="-1" aria-labelledby="modalGuide3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guide 3: O-1 Visa Policy Guidance – Overview
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                The O-1 is a temporary (nonimmigrant) visa category for noncitizens of “extraordinary ability” in the
                sciences, arts, education, business, or athletics. Congress identified three requirements for
                establishing extraordinary ability: (1) sustained national or international acclaim; (2) extensive
                documentation of recognized achievement in their field; and (3) intent to enter the United States to
                continue working in their area of extraordinary ability.<sup>i</sup>
                <br><br>
                U.S. Citizenship and Immigration Services (USCIS) defines extraordinary ability in the fields of
                science, education, business, or athletics as a level of expertise indicating the person is one of a
                small percentage who has risen to the very top of their field. USCIS has developed a two-part test.
                First, USCIS requires sufficient documentation of either a “major, internationally recognized award”
                (i.e., a Nobel prize) or of at least three of eight alternative criteria specified by regulation. USCIS
                also accepts comparable evidence if the criteria “do not readily apply” to a person’s field. Second,
                USCIS reviews the “totality of all the evidence in the record,” deciding if the documentation shows that
                the person has sustained national or international acclaim and is one of the small percentage to rise to
                the very top of their field.<sup>ii</sup>
                <br><br>
                On January 21, 2022, USCIS issued policy guidance to clarify for its officers how to evaluate
                documentation when people are trying to establish O-1 extraordinary ability. The guidance, which
                emphasizes STEM fields, includes examples of documentation that may satisfy the regulatory criteria and
                considerations for USCIS officers to help them evaluate the documentation.<sup>iii</sup>
                <br><br>
                For example, for the criterion of employment “in a critical or essential capacity” for entities with a
                “distinguished reputation,” the list offers senior faculty or research position for a distinguished
                academic department or program, or senior research position for a distinguished non-academic institution
                or company. The consideration for officers in determining whether academic departments or programs or
                institutions are “distinguished” includes that national rankings and receipt of government research
                grants can be “positive factors in some cases.” The list also has examples of documentation that
                entrepreneurs or founders of start-up businesses could submit to satisfy certain criteria and officer
                considerations for evaluating that evidence.<sup>iv</sup> The guidance reminds officers that they may
                accept comparable evidence for people working in STEM fields if a particular criterion does not apply to
                their occupation.
                <br><br>
                The guidance also clarifies how officers may determine the “totality of all the evidence,” including
                examples of positive factors. The guidance explains that officers may consider documentation even when
                it does not “directly correspond” to the regulatory criteria or was not presented as comparable
                evidence. One example of a positive factor in establishing that a person in a STEM field has risen to
                the very top of their field is documentation of employment or research experience with a university
                “highly regarded according to a widely recognized metric” (with examples of such metrics).<sup>v</sup>

                The guidance also explains how a USCIS officer may determine that a person intends to continue to work
                in the United States in their field of extraordinary ability.<sup>vi</sup>
                <div class="modal-endnotes">
                    <h6 class="fw-bold">Endnotes</h6>
                    <sup>i</sup>8 U.S.C. § 1101(a)(15)(O)(i).
                    <br>
                    <sup>ii</sup> U.S. Citizenship and Immigration Services, Policy Manual, Volume 2, Part M, Chapter 4,
                    Sections B-C, https://www.uscis.gov/policy-manual/volume-2-part-m-chapter-4.
                    <br>
                    <sup>iii</sup> U.S. Citizenship and Immigration Services, Policy Alert, O-1 Nonimmigrant Status for
                    Persons of Extraordinary Ability or Achievement, PA-2022-03,January 21, 2022,
                    https://www.uscis.gov/sites/default/files/document/policy-manual-updates/20220121-ExtraordinaryAbility.pdf
                    <br>
                    <sup>iv</sup> U.S. Citizenship and Immigration Services, Policy Manual, Volume 2, Part M, Chapter 4,
                    Appendix, current as of May 25, 2022, https://www.uscis.gov/policy-manual/volume-2-part-m-chapter-4.
                    <br>
                    <sup>v</sup> U.S. Citizenship and Immigration Services, Policy Manual, Volume 2, Part M, Chapter 4,
                    Section C.4, https://www.uscis.gov/policy-manual/volume-2-part-m-chapter-4.
                    <br>
                    <sup>vi</sup> U.S. Citizenship and Immigration Services, Policy Manual, Volume 2, Part M, Chapter 4,
                    Section F, https://www.uscis.gov/policy-manual/volume-2-part-m-chapter-4.
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn--secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalGuide4" tabindex="-1" aria-labelledby="modalGuide4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guide 4: EB-2 National Interest Waiver Policy Guidance –
                    Overview
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                One path to a green card is the Employment-Based Second Preference (EB-2) category for people who are
                either (1) advanced degree professionals or (2) of “exceptional ability in the sciences, arts, or
                business,” and who will “substantially benefit prospectively” the U.S. national economy or U.S. cultural
                or educational interests or welfare. While most immigrant employment-based categories require U.S.
                employer sponsorship and certification that qualified U.S. workers are unavailable, U.S. Citizenship and
                Immigration Services (USCIS) may waive the “job offer requirement” if the agency decides that the
                person’s work in the United States would be in the national interest.<sup>i</sup>
                <br><br>
                In 2016, the Administrative Appeals Office (AAO), which is USCIS’ highest level of administrative
                review, issued Matter of Dhanasar.<sup>ii</sup> Dhanasar, which USCIS officers must follow, provides an
                analytical framework for National Interest Waivers (NIWs). The person the AAO approved for the NIW under
                this framework had a U.S. Ph.D. in Engineering and planned to continue his research and development
                relating to air and space propulsion systems and to support teaching activities in STEM fields.
                Nevertheless, people in STEM fields continue to face evidentiary challenges when requesting an NIW.
                Entrepreneurs also have found it challenging to apply Dhanasar to the documentation available in the
                business setting.
                <br><br>
                On January 21, 2022, USCIS issued policy guidance for NIW requests. USCIS characterized the guidance as
                explaining the Dhanasar framework, including special considerations that USCIS officers may give for
                proposed work in STEM fields, as well as the “significance of letters from governmental and
                quasi-governmental entities” and the applicability of the NIW standards to entrepreneurs.
                <br><br>
                USCIS added a section to its Policy Manual for “specific evidentiary considerations” for people with
                advanced degrees in STEM fields.<sup>iii</sup> USCIS now looks particularly favorably on people with a
                Ph.D. in a STEM field whose work has the potential to further “a critical and emerging technology or
                other STEM area important to U.S. competitiveness or national security.” USCIS also provides examples of
                how officers can identify a critical and emerging technology, such as lists of technologies published by
                the National Science and Technology Council or the National Security Council.
                <br><br>
                USCIS added a separate section addressing letters from interested U.S. government agencies or
                quasi-governmental entities.<sup>iv</sup> The guidance includes examples of types of information that
                could support the components of the Dhanasar framework. For example, a letter could support a showing
                that the person’s proposed STEM endeavor has “substantial merit and national importance” if the writer
                shows that their agency or entity has expertise in the proposed STEM endeavor and that the proposed STEM
                endeavor “promises to advance a critical and emerging technology or is otherwise important” to
                maintaining U.S. “technological prominence.”
                <br><br>
                USCIS also added a section to its Policy Manual for “specific evidentiary considerations” for
                entrepreneurs.<sup>v</sup> The agency clarifies for officers that documentation from entrepreneurs may
                have “unique aspects” and they may consider that “many entrepreneurs do not follow traditional career
                paths and there is no single way in which an entrepreneurial start-up entity may be structured.” The
                guidance explains that relevant information could include ownership and investment records or an
                entrepreneur’s educational degrees or experience letters. For example, evidence that an entrepreneur has
                been admitted into an incubator or accelerator could support a showing that the entrepreneur “is well
                positioned to advance the endeavor.” Another example is awards or grants from government entities with
                research and development expertise, or from policy or research institutes, which could support a showing
                that the entrepreneur’s endeavor has “substantial merit and national importance” or that the
                entrepreneur is well positioned to advance the endeavor.
                <div class="modal-endnotes">
                    <h6 class="fw-bold">Endnotes</h6>
                    <sup>i</sup> 8 U.S.C. § 1153(b)(2)(A)-(B).
                    <br>
                    <sup>ii</sup> 26 I. & N. Dec. 884 (AAO 2016).
                    <br>
                    <sup>iii</sup> U.S. Citizenship and Immigration Services, Policy Manual, Volume 6, Part F, Chapter
                    5, Section D.2, https://www.uscis.gov/policy-manual/volume-6-part-f-chapter-5.
                    <br>
                    <sup>iv</sup> U.S. Citizenship and Immigration Services, Policy Manual, Volume 6, Part F, Chapter 5,
                    Section D.3, https://www.uscis.gov/policy-manual/volume-6-part-f-chapter-5.
                    <br>
                    <sup>v</sup> U.S. Citizenship and Immigration Services, Policy Manual, Volume 6, Part F, Chapter 5,
                    Section D.4, https://www.uscis.gov/policy-manual/volume-6-part-f-chapter-5.
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn--secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>


</div>
<div class="modal fade" id="modalGuide5" tabindex="-1" aria-labelledby="modalGuide5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guide 5: Extension of Academic Training
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
                On January 21, 2022, the Biden-Harris administration announced a series of policy changes intended to
                bolster the U.S. economy by attracting scholars, students, researchers, and workers from around the
                world who specialize in the fields of science, technology, engineering, and mathematics
                (STEM).<sup>i</sup> These changes include a new policy from the Directorate of Private Sector Exchange
                which will permit both undergraduate and graduate STEM exchange visitors to remain in the United States
                to receive additional academic training in STEM fields.<sup>ii</sup> This expansion of academic training
                was announced in response to the “Joint Statement of Principles in Support of International Education”
                issued by the Department of State and Department of Education, which calls for expanding opportunities
                for STEM students and graduates to learn and train in the United States.<sup>iii</sup>
                <br><br>
                This opportunity is available only for undergraduate and post-doctoral exchange students “who are
                pursuing or [have] recently completed STEM-related studies.”<sup>iv</sup> Post-doctoral exchange
                visitors may receive up to 36 months of additional academic training, while pre-doctoral and
                undergraduate exchange visitors are capped at 18 months of additional academic training.
                <br><br>
                <h5>Overview</h5>
                Every year, thousands of exchange visitors pursue academic training in the United States through
                educational exchange programs such as the Fulbright scholarship, through direct financing from a foreign
                government, or under a bilateral agreement between the United States and a foreign
                government.<sup>v</sup> These J-1 exchange students are not eligible for Optional Practical Training,
                which is a form of post-graduate study available for F-1 students. Instead, they are eligible for
                “academic training,” which is a form of employment which is an “integral or critical part” of a
                student’s academic program.<sup>vi</sup> Academic training must begin either during a course of study or
                no later than 30 days after the completion of an exchange student’s studies.<sup>vii</sup> Exchange
                visitors who are engaged in academic training must be primarily in the United States to study (not to
                engage in training), must be in good academic standing, must receive written approval ahead of time, and
                can only receive academic training that is directly related to their field of study.<sup>viii</sup>
                <br><br>
                Under the Biden administration’s expansion of academic training, eligible exchange visitors in STEM
                fields may request academic training for up to 18 months if they have not completed a graduate degree or
                up to 36 months in total if they have received a doctorate.<sup>ix</sup> This academic extension is
                currently set to be in effect for two academic years (2021-2022 and 2022-2023).
                <div class="modal-endnotes">
                    <h6 class="fw-bold">Endnotes</h6>
                    <sup>i</sup> The White House, “Biden-⁠Harris Administration Actions to Attract STEM Talent and
                    Strengthen our Economy and Competitiveness,” January 21, 2022,
                    https://www.whitehouse.gov/briefing-room/statements-releases/2022/01/21/fact-sheet-biden-harris-administration-actions-to-attract-stem-talent-and-strengthen-our-economy-and-competitiveness/.
                    <br>
                    <sup>ii</sup> U.S. Department of State, Bureau of Educational and Cultural Affairs, BridgeUSA,
                    “Opportunity for Academic Training Extensions for J-1 College and University Students in STEM
                    Fields,” last accessed June 2022,
                    https://j1visa.state.gov/opportunity-for-academic-training-extensions-for-j-1-college-and-university-students-in-stem-fields/.
                    <br>
                    <sup>iii</sup> Ibid.; U.S. Department of State and U.S. Department of Education, “A Renewed U.S.
                    Commitment to International Education,” 2021,
                    https://educationusa.state.gov/sites/default/files/intl_ed_joint_statement.pdf.
                    <br>
                    <sup>iv</sup> Ibid.
                    <br>
                    <sup>v</sup> 22 C.F.R. § 62.23(a).
                    <br>
                    <sup>vi</sup> 22 C.F.R. § 62.23(f)(5).
                    <br>
                    <sup>vii</sup> 22 C.F.R. § 62.23(f)(2).
                    <br>
                    <sup>viii</sup> 22 C.F.R. § 62.23(f)(3)
                    <br>
                    <sup>ix</sup> U.S. Department of State, Bureau of Educational and Cultural Affairs, BridgeUSA,
                    “Opportunity for Academic Training Extensions for J-1 College and University Students in STEM
                    Fields,” last accessed June 2022,
                    https://j1visa.state.gov/opportunity-for-academic-training-extensions-for-j-1-college-and-university-students-in-stem-fields/.
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn--secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>


</div>
<!-- END Modals -->

{% include footer.html %}