.modal {
  &-dialog {
    max-width: 960px;
  }

  &-title {
    font-size: 2rem;
    font-weight: bold;
  }

  &-body {
    font-size: 1.125rem;
    ul {
      margin-top: 1rem !important;
      padding-left: 2.5rem;
    }
    li {
      font-size: 1.125rem !important;
    }
  }

  &-endnotes {
    font-size: 0.875rem;
    margin-top: 1rem;
  }
}

.btn-close {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 2rem;
  color: $primary;
}
