.modal {
  &-dialog {
    max-width: 960px;
  }

  &-title {
    font-size: 2rem;
    font-weight: bold;
  }

  &-body {
    font-size: 1.125rem;
  }
}

.btn-close {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 2rem;
  color: $primary;
}
